spring:
  application:
    name: BuySellApplication
  
  datasource:
    url: jdbc:mysql://localhost:3306/buysell_db?createDatabaseIfNotExist=true
    username: root
    password: Root123$
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8087
  error:
    include-message: always

application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000
      refresh-token:
        expiration: 604800000

logging:
  level:
    com.buysell: DEBUG
    org.springframework.security: DEBUG